.content {
  margin:15px;
  text-align:center;
  clear: right;
  float: right;
  width: 82%;

}
.container {
 padding: 0px;
 margin: 0px;

}
body {
  padding:0px;
  margin:0px;
}
div {
    margin:0px;
    padding:0px;
}

h3 {
  margin-top:10px;
  padding: 0px;
}
.well {
  padding:0px;
}

.floatleft {
  float: left;
  width: 20%;

}

.tab-holder1 {
  float:left;
  width:45%;
}
.tab-holder2 {
  float:right;
  width:45%;
}


.portals li {
  margin-top: 10px;
  width:26%;
  display:inline-block;
  text-align:left;
}
 .menu {
   background-color: #f6f6f6;
   float: left;
   width: 15%;
   padding-left: 20px;
   padding-right: 10px;

 }

 .menu>a {
   float:left;
   clear:both;
 }
 .menu>p {
   clear:both;
 }

 .header {
   float: right;
   width: 83%;

 }
 .header ul:first-child li{
   padding-left: 5px;
 }

 .header li {
   display: inline-block;
   float: right;

 }
.input-holder {
  float:right;
  border-bottom: 1px solid grey;
  width:10%;
  margin-bottom: 1px;
}

 input {
   float: right;
   width: 80%;
   margin-top:5px;
   margin-bottom: 10px;

 }
 .nav-tab{
   float: left;
 }

 .nav-tab:nth-last-child(1){
   float: right;
 }


.content > .row > * .panel {
  height: 700px;
}

.panel-success {
  background-color: #f5fffa;
  border: 1px solid #cef2e0;
}

.panel-success .panel-heading {
  background-color: #cef2e0;
  border: 1px solid #a3bfb1;
  margin: 12px;

}

.panel-title {
  text-align: left;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.panel-info {
  background-color: #f5faff;
  border: 1px solid #cedff2;
}

.panel-info .panel-heading {
  background-color: #cedff2;
  border: 1px solid #a3b0bf;
  margin: 12px;

}

.panel-title {
  text-align: left;
  color: black;
  font-weight: bold;
}
